:root {
  --primary-color:#00c9b7;
  --bg:#ccc;
  --dark-bg:#6c757d;
}
.container {
  display: flex;
  flex-wrap: wrap;
  gap:1rem;
  margin-left: auto;
  margin-right: auto;
}

.form {
  flex-basis: 20rem ;
  flex-grow: 1;
}
.list {
  flex-basis:0;
  flex-grow:999;
  min-width: 60%;
}
