.form {
    padding: 2rem;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    background-color: red;
    height: 12vh;
}
.form-control {
    padding: 0.2rem 0 0 0;
}
input {
    padding: 10px 12px;
}
.btn {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    padding: 10px 12px;
    cursor: pointer;
}
.btn-primary {
    background-color: var(--primary-color);
    color: var(--white);
  }
.form-control > label {
    margin-right: 0.2rem ;
}
  