.task {
    display: flex;
    padding: 1rem;
    background: lightgray;
    border: 1px solid grey;
    flex-direction: column;
}
.task__body{
    display: flex;
    padding-top:1rem ;
    padding-bottom:1rem ;
}
.task__body button {
    flex:.6;
    cursor: pointer;
}
.task  h5{
    flex:.4;
    margin: 0;
}
.task  h4{
    flex:.4;
    margin: 0;
}
.start,.stop {
    cursor: pointer; 
}
.start i, .stop i {
    font-size:32px ; 
}






